# Application Environment
# Options: development, staging, production
APP_ENV=development

# API Base URL
# For local development: http://localhost:3000/api
# For production: https://sada.mustafin.dev/api
EXPO_PUBLIC_API_URL=http://localhost:3000/api

# Socket Base URL
# For local development: http://localhost:3000
# For production: https://sada.mustafin.dev
EXPO_PUBLIC_SOCKET_URL=http://localhost:3000

# Example for production:
# APP_ENV=production
# EXPO_PUBLIC_API_URL=https://sada.mustafin.dev/api
# EXPO_PUBLIC_SOCKET_URL=https://sada.mustafin.dev
